
body {
    width: 90%;
    margin: 0 auto;
}

/* Make the parent a grid and specify rows and columns
#grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 50px 50px;
  }  */

h1 {
    align-items: left;    
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 100px;
}

h2 {
    align-items: left;    
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

ul {
    list-style-type: circle;
    font-size: 40px;
    margin: 50px;
    border: 20px
}

#images {
    display: flex;
    size: 50%;
    justify-content: space-between;
    width: 780px;
    height: 547px;
    object-fit: cover;
  }

#images:hover {
    border-style: solid;
    border-color: black;
    border: 10px;
  }

#images .image-1:hover {
    border-style: solid;
    border-color: black;
    border: 10px;
}

button {
    justify-content: center;
    margin-top: 25px;
    font-size: 50px;
}


hr {
    padding: 10px 0;
    margin: 25px 0;
    background-color: black;
    justify-content: stretch;
}

footer {
    text-align: center;
    font-size: 25px;
  }

