*, *::before, *::after {
    box-sizing: border-box;
  }

html body {
    width: 90%;
    margin: 0 auto;
    max-width: 100%;
}

h1 {
    align-items: left;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 75px;
}

h2 {
    align-items: left;    
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}

p {
    font-size: 30px;
}

li {
    text-align: center;
    margin-top: 20px;
}

#productImages {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px;
    display: flex;
}

img {
    display: flex;
    justify-content: space-between;
    width: 200px;
    height: 200px;
}

img:hover {
    border: darkorange solid;
}



hr {
    padding: 10px 0;
    margin: 25px 0;
    background-color: black;
    justify-content: stretch;
    width: 100%;
}

#results {
    font-size: 50px;
}


#showResultBtn {
    justify-content: center;
    margin-top: 25px;
    font-size: 50px;
}
footer {
    text-align: center;
    font-size: 25px;
    margin-top: 75px;
}